<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>903239706838-q4a6fqa3bpjsptcelf69c0ubm1362k5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903239706838-q4a6fqa3bpjsptcelf69c0ubm1362k5b</string>
	<key>API_KEY</key>
	<string>AIzaSyDjcf4oVHLPUQJiu1zCUQcFxquHqtoEKbo</string>
	<key>GCM_SENDER_ID</key>
	<string>903239706838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>tasks-3f211</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-3f211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903239706838:ios:a917526d40a0ea70</string>
	<key>DATABASE_URL</key>
	<string>https://tasks-3f211.firebaseio.com</string>
</dict>
</plist>